{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block main %}
    <div class="mt-4">
        <h2 class="text-center mb-4">Contact us</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card p-4">
                    <h3 class="h5">Studio info</h3>
                    <p><strong>Address</strong><br>
                       123 Art Street<br>
                       Artville, AV 12345
                    </p>
                    <p><strong>Phone</strong><br>
                       (123) 456-7890
                    </p>
                    <p><strong>Email</strong><br>
                       info@artstudio.com
                    </p>
                    <p class="mb-0"><strong>Business hours</strong><br>
                       Tuesday–Friday: 10 AM – 6 PM<br>
                       Saturday: 9 AM – 9 PM<br>
                       Sunday: Closed
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
